@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magent: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 10px;
}

body {
  margin: 20px 0;
  font-size: 1.5rem;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 25px;
  text-align: center;
  color: var(--very-dark-magenta);
}

article p {
    text-align: center;
    color: var(--dark-grayish-magent);
}

main {
  max-width: 37.5rem;
  padding: 0 1rem;
}

.review__card {
  border: 1px solid black;
  padding: 1.5rem 1.5rem;
  margin-top: 2rem;
  background-color: var(--very-dark-magenta);
  color: var(--white);
}

.review__details {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.review__comment {
  line-height: 1.4;
}

.buyer__info p {
  margin: 0;
}

.name {
  font-weight: 500;
}

.status {
  color: var(--soft-pink);
}

.img {
  border-radius: 50%;
  width: 4rem;
}

.ratings > div {
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: var(--light-grayish-magenta);
  color: var(--very-dark-magenta);
  font-weight: 700;
}

.ratings p {
  margin: 0.5rem 0 0;
}
